{{ range .Site.Params.languages }}
	{{ $githubLink := printf "https://github.com/%s" .link }}
	{{ $iconFile := printf "data/icons/%s" .icon }}
	{{ if eq .status "missing" }}
		<div class="language language-missing">
			<div class="language-title">
				<a href="{{$githubLink}}" target="_blank">{{ .name }}</a> (soon)
			</div>
			<div class="language-icon">
				<a href="{{$githubLink}}" target="_blank">
					{{ readFile $iconFile | safeHTML }}
				</a>
			</div>
		</div>
	{{ else if eq .status "in-progress" }}
		<div class="language language-in-progress">
			<div class="language-title">
				<a href="{{$githubLink}}" target="_blank">{{ .name }} (in progress)</a> 
			</div>
			<div class="language-icon">
					<a href="{{$githubLink}}" target="_blank">
						{{ readFile $iconFile | safeHTML }}
					</a>
			</div>
		</div>
	{{ else }}
		<div class="language">
			<div class="language-title">
					<a href="{{$githubLink}}" target="_blank">{{ .name }}</a>
			</div>
			<div class="language-icon">
					<a href="{{$githubLink}}" target="_blank">
						{{ readFile $iconFile | safeHTML }}
					</a>
			</div>
		</div>
	{{ end }}
{{ end }}
