{{ $code := .Inner | string }}
{{ $lines := .Get "lines" | int }} <!-- TODO: Read number of lines from code -->
{{ $text := .Get "text" }}
{{ $title := .Get "title" }}
{{ $language := .Get "language" }}
{{ $align := .Get "align" }}

<div class="getting-started-example">
	{{ if not (eq $title "") }}
		<h1>{{ $title }}</h1>
	{{ end }}
	{{ if not (eq $align "") }}
		<div class="example example-{{$align}}">
	{{ else }}
		<div class="example example-left">
	{{ end }}
			<div class="example-linenumbers">
				{{ range $i, $sequence :=  (seq $lines) }}
					<div>
						{{$sequence}}
					</div>
				{{ end }}
			</div>
			<div class="example-code">
				<div class="example-json">{{ upper $language }}</div>
				{{ highlight $code $language ""}}
			</div>
			<div class="clear"></div>
		</div>
		{{ if not (eq $text "") }}
			<div class="getting-started-example-text">
				{{ .Get "text" | safeHTML }}
			</div>
		{{ end }}
	<div class="clear"></div>
</div>
