.open-sans {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
}
.ipld-gray {
  color: #5A626E;
}
.embed-responsive {
  position:relative;
  overflow:hidden;
  height:0;
  max-width:100%;
}
.embed-responsive-16by9 {
  padding-bottom:56.25%;
}
.embed-responsive-item {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.bundle-table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.bundle-table th,
.bundle-table td {
  height: 90px;
  vertical-align: middle;
  background: #FFF;
  border: solid 1px #97A0AE;
}
.bundle-table tr:hover th,
.bundle-table tr:hover td {
  background-color: #eee;
}
.hide {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
.hover-saturate {
  transition: filter 0.2s linear, opacity 0.2s linear;
  filter: saturate(0%);
  opacity: 0.5;
}
.hover-saturate:hover {
  filter: saturate(50%);
  opacity: 0.6;
}
.hover-saturate.active,
.hover-saturate:active {
  filter: saturate(100%);
  opacity: 1;
}