<footer class="bg-black white pv4 ph3">
  <div class="db dt-ns mw8 w-100 center">
    <div class="db dtc-ns v-mid tl w-50 pv3 ph2">
      <p class="f6">IPLD was started and is sponsored by</p>
      <h1 class="">Protocol labs</h1>
    </div>
    <div class="db dtc-ns v-mid w-100 tl tr-ns mt2 mt0-ns">
      <nav>
        <a href="#" class="db dib-ns pa2 mh2-ns f5 fw6 ttu link white hover-blue">Implementations</a>
        <a href="#" class="db dib-ns pa2 mh2-ns f5 fw6 ttu link white hover-blue">Github</a>
        <a href="#" class="db dib-ns pa2 mh2-ns f5 fw6 ttu link white hover-blue">Specification</a>
      </nav>
      <small class="db f6 ph2 pt4">© Protocol Labs | Except as noted, content licensed CC-BY 3.0</small>
    </div>
  </div>
</footer>
