<header class="bg-white">
  <div class="db dt-ns mw8 w-100 center">
    <div class="db dtc-ns v-mid tc tl-ns w-100 w-30-ns pv3">
      <img style="height:81px; width:135px;" src="/img/ipld.svg" />
    </div>
    <nav class="dn dtc-ns v-mid w-100 tc tr-ns mt2 mt0-ns">
      <a href="#" class="pa2 mh2 f6 f5-ns fw6 ttu link ipld-gray hover-blue">Implementations</a>
      <a href="#" class="pa2 mh2 f6 f5-ns fw6 ttu link ipld-gray hover-blue">Github</a>
      <a href="#" class="pa2 mh2 f6 f5-ns fw6 ttu link ipld-gray hover-blue">Specification</a>
    </nav>
  </div>
</header>