<header class="bg-white">
  <div class="db dt-ns mw8 w-100 center">
    <div class="db dtc-ns v-mid tl w-50 pv3">
      <div style="height:81px; width:135px; background:hotpink;">

      </div>
    </div>
    <nav class="db dtc-ns v-mid w-100 tl tr-ns mt2 mt0-ns">
      <a href="#" class="pa2 mh2 f5 fw6 ttu link ipld-gray hover-blue">Implementations</a>
      <a href="#" class="pa2 mh2 f5 fw6 ttu link ipld-gray hover-blue">Github</a>
      <a href="#" class="pa2 mh2 f5 fw6 ttu link ipld-gray hover-blue">Specification</a>
    </nav>
  </div>
</header>