{{ if eq .level 2}}
<div title="Full support" class="dib">
  {{ partial "hex.html" (dict "fill" "#0CC06D") }}
  <span style="color:#97A0AE" class="pl2 {{if not .label}}hide{{end}}">Full support</span>
</div>
{{end}}

{{ if eq .level 1}}
<div title="Partial support" class="dib">
  {{ partial "hex.html" (dict "fill" "#F2B602") }}
  <span style="color:#97A0AE" class="pl2 {{if not .label}}hide{{end}}">Partial support</span>
</div>
{{end}}

{{ if eq .level 0}}
<div title="Coming soon" class="dib">
  {{ partial "hex.html" (dict "fill" "#97A0AE") }}
  <span style="color:#97A0AE" class=" pl2 {{if not .label}}hide{{end}}">Coming soon</span>
</div>
{{end}}
