<div class="dt mw7 center w-100 pv5">
  <div class="db dtc-ns w-60-ns v-mid pa2">
    <h3 class="f4 b ipld-gray ma0 pb3">
      Bitcoin to Git
    </h3>
    <p class="lh-copy" style="font-size: 18px; color:#97A1AF;">
      Reference your latest commits in a git branch to a bitcoin transaction to timestamp your work. By linking your git commit, you can view the commit from your blockchain explorer.
    </p>
  </div>
  <div class="db dtc-ns w-40-ns v-mid pa2 tc tr-ns">
    <div class="dib" style="width:228px; height:260px; background:gold;">
    </div>
  </div>
</div>