/* Styling for the left side nav menu. */
/* The first list level we add a ton more weight to. */
nav ul {
	list-style-type:      none;
	padding-inline-start: 1rem;
}
nav ul a {
	display:          block;
	background-color: #8cc; /* todo: a different one per item, please.  Use attribute selectors for this. */
	padding:          0.5rem 0.5rem;
	border-bottom:    2px solid;
	margin-top:       0.5rem;
}
/* Deeper list elements now need css to put them back down to normal. */
nav ul ul {
	color: #77b;
	list-style-type: disc;
	padding-inline-start: 2rem;
}
nav ul ul a {
	background-color: transparent;
	padding:          0;
	border:           0;
	margin-top:       0.1rem;
}
