
h1 {
	border-bottom: 1px solid #dadcdf;
}
h2 {
	border-bottom: 1px solid #eaecef;
}

a {
	color: #3eaf7c;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

a.header-anchor:before {
	color:           #afddcf;
	text-decoration: none;
	font-weight:     normal;
}
