<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/layout.css">
	<link rel="stylesheet" href="/static/css/nav.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>IPLD ♦ {{ title }}</title>
</head>
<body>

	<header>
		<div class="sidebar-button" onclick="document.getElementsByTagName('aside')[0].classList.toggle('sidebar-open')">
			<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 448 512" class="icon">
				<path fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"></path>
			</svg>
		</div>
		<a href="/" class="logo">IPLD</a>
		<aside class=breadcrumbs>
			{% macro breadcrumb(path) -%}
			{%- if path != "/" %}
			{{ breadcrumb(path | dirname) }}
			<li><a href="{{path}}">{{path | basename}}</a></li>
			{%- endif %}
			{%- endmacro %}
			<ul>
			{{ breadcrumb(page.url) }}
			</ul>
		</aside>
	</header>

	<aside class=sidebar>
		<nav>
			{% macro renderNavListItem(entry) -%}
			{%- if entry.key %}
			<li{% if entry.url == page.url %} class="active-page"{% endif %}>
				<a href="{{ entry.url | url }}">{{ entry.title }}</a>
				{%- if entry.children.length -%}
				<ul>
				{%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
				</ul>
				{%- endif -%}
			</li>
			{%- endif %}
			{%- endmacro %}

			{% set navPages = collections.all | eleventyNavigation %}
			<ul>
			{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
			</ul>
		</nav>
	</aside>

	<main>
		<div class=content>
			{{ content | safe }}
		</div>
	</main>
</body>
</html>
