<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="refresh" content="0; url='{{ redirect.to }}'" />
</head>
<body>
	<main>
		you should be redirecting to <a href="{{ redirect.to }}">{{ redirect.to }}</a>
	</main>
</body>
</html>