/* Styling for the left side nav menu. */
/* The first list level we add a ton more weight to. */
nav ul {
	list-style-type:      none;
	padding-inline-start: 0rem;
	margin-top:           0rem;
}
nav a {
	color: #5e7fe4; /* slightly different color intensity for nav vs body content links. */
}
nav ul a {
	display:          block;
	background-color: #f6f6fa; /* todo: a different one per item, please.  Use attribute selectors for this. */
	padding:          0.5rem 0.5rem;
	border-bottom:    2px solid;
	margin-top:       0.5rem;
	font-weight:      bold;
}
/* Deeper list elements now need css to put them back down to normal. */
nav ul ul {
	color: #8abafd;
	list-style-type: disc;
	padding-inline-start: 1.7rem;
	padding-inline-end: 0.3rem; /* keep just a tiny bit away from the edge, please. */
}
nav ul ul ul {
	padding-inline-start: 1.2rem;
}
nav ul ul a {
	background-color: transparent;
	padding:          0;
	border:           0;
	margin-top:       0.1rem;
	font-weight:      bold; /* the first layer of bullets in each zone is bold; we'll go back to normal when deeper. */
}
nav ul ul ul a {
	font-weight:      normal; /* remove boldness for this and deeper levels of navigation. */
}
/* Across the board, the line-height in the nav area is a lot less than in the rest of the body. */
nav {
	line-height: 1.3;
}
