
h1 {
	border-bottom: 1px solid #dadcdf;
}
h2 {
	border-bottom: 1px solid #eaecef;
}

body {
	line-height: 1.4;
}

a {
	color: #3e7fe4;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

a.header-anchor:before {
	color:           #4eafe4;
	text-decoration: none;
	font-weight:     normal;
}

td {
	vertical-align: top;
}

.callout {
	margin:           0.5rem 0rem;
	padding:          0.5rem 1rem;
	background-color: rgba(100,100,100,0.4);
	border:           1px solid rgba(0,0,0,0.7);
}
.callout.callout-warn {
	background-color: rgba(200,100,0,0.4);
}
.callout.callout-info {
	background-color: rgba(100,150,200,0.4);
}
.callout.callout-tip {
	background-color: rgba(150,120,180,0.4);
}
.callout.callout-todo {
	background-color: rgba(200,100,200,0.8);
}
.callout-todo:before {
	content: "TODO"
}
.callout > ul {
	padding-inline-start: 1.5rem;
}
