
{# childrenTableWithSynopsys emits an html table with all the children of the page and their synopsis. #}
{# Typically you'll call this with `(collections.all, page.url)`. #}
{# This is based on the same eleventyNavigation system as builds the main nav, #}
{#  but this system doesn't recurse, and includes more information than the main nav. #}
{# (The `collections.all` parameter is essentially a constant, but I couldn't figure out how to get it otherwise.) #}

{% macro childrenTableWithSynopsys(collectionsAll, pageUrl) -%}
{% set navPages = collectionsAll | eleventyNavigation(pageUrl) %}
{{ collections.all | dump }}
<table cellspacing=6>
{%- for entry in navPages %}
	<tr>
	<td align="right" style="font-size: 120%;"><a href="{{ entry.url | url }}">{{ entry.title }}</a></td>
	<td> - </td>
	<td>{{ entry.synopsys if entry.synopsys else "<i><small>no synopsys available</small></i>" | safe }}</td>
	</tr>
{%- endfor -%}
</table>
{%- endmacro %}
